
<body>

    <% layout('layouts/boilerplate') %>
<main>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1507760762330-d3ed96fccf72?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80)">
        <div class="banner-items">
            <div>
                <h1 class="text-center">Beyond FBO</h1>
            </div> 
            <div>
                <p id="home-blurb">
                    Get real airport updates from real pilots like you 
                </p>
            </div>
            <div id="button-div">
                <a href="/airports" class="btn btn-lg btn-secondary font-weight-bold text-white">View Airports</a>
            </div>
        </div>
    </div>
</main>
<footer class="mt-auto">

</footer>



