
<body>

    <% layout('layouts/boilerplate') %>
<main>
    <div class="card-category">
        <div class="banner-items">
            <div>
                <h1 class="text-center">Beyond FBO</h1>
            </div> 
            <div>
                <p id="home-blurb">
                    Get real airport updates and information from real pilots like you 
                </p>
            </div>
            <div class="button-div">
                <a href="/airports" class="btn btn-lg btn-secondary font-weight-bold text-white">View Airports</a>
            </div>
        </div>
    </div>
</main>
