.card-category {
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
  }

body {
    height: 90vh;
}

#home-blurb {
    opacity: 0.9;
    font-size: large;
}

.banner-items {
    align-items: center;
}
#button-div {
    text-align: center;
}

