.card-category {
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
        url(https://images.unsplash.com/photo-1507760762330-d3ed96fccf72?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);

}



body {
    height: 90vh;
}

#home-blurb {
    opacity: 0.9;
    font-size: large;
}

.banner-items {
    align-items: center;
}
.button-div {
    text-align: center;
}

.login-link {
    text-decoration: none;
}
.login-link:hover{
    font-weight: bold;
}

.index-map {
    width: auto; 
    height: 400px;
}

.show-map {
    width: 100%; 
    height: 300px;
    margin-bottom: 10px;
}
