<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airports</title>
</head>
<body>
    <h1>All Airports!!</h1>
    <ul>
        <% for (let airport of airports) { %>
            <li><a href="<%= airport._id %>"><%= airport.name %></a></li>
        <% } %>
    </ul>
    
</body>
</html>