<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add an airport</title>
</head>
<body>
    <h1>Add an Airport</h1>
    <form action="/airports" method="POST">
        <div>
            <label for="name">Airport Name</label>
            <input type="text" name="airport[name]" id="name" placeholder="Thun Field">
        </div>
        <div>
            <label for="location">Airport location</label>
            <input type="text" name="airport[location]" id="location" placeholder="Puyallup, WA">
        </div>
        <button>Add Airport</button>
    </form>

    <p><a href="/airports">Back to all airports</a></p>
</body>
</html>