<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Add an Airport</h1>
    <div class="col-6 offset-3">
        <form action="/airports" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="name">Airport Name</label>
                <input type="text" class="form-control" name="airport[name]" id="name" placeholder="Logan International Airport" required>
                <div class="invalid-feedback">
                    Please provide a name for your airport
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Airport location</label>
                <input type="text" class="form-control" name="airport[location]" id="location" placeholder="Boston, MA" required>
                <div class="invalid-feedback">
                    Please provide the airport location
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="icao">Airport ICAO code</label>
                <input type="text" class="form-control" name="airport[icao]" id="icao" placeholder="KBOS" name="airport[icao]" required>
                <div class="invalid-feedback">
                    Please provide the airport ICAO code
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="landingFee">Landing Fee (per 1000 lbs)</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="landingFee">$</span>
                    </div>
                    <input type="text" class="form-control" id="landingFee" placeholder="$4.75" aria-label="landingFee" aria-describedby="" name="airport[landingFee]" required>
                    <div class="invalid-feedback">
                        Please provide the landing fee (if none please type 0)
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="tieDown">Tie Down Fee (per night)</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="tieDown">$</span>
                    </div>
                    <input type="text" class="form-control" id="tieDown" placeholder="$5" aria-label="tieDown" aria-describedby="" name="airport[tieDown]" required>
                    <div class="invalid-feedback">
                        Please provide the tie down fee (if none please type 0)
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="airportImage" class="form-label">Upload Image(s)</label>
                <input class="form-control" type="file" id="airportImage" name="image" multiple>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea type="text" class="form-control" name="airport[description]" id="description" required></textarea>
                <div class="invalid-feedback">
                    Please provide a description
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Airport</button>
            </div>
        </form>
    </div>
</div>


