<!DOCTYPE html>
<html lang="en">
<% layout('layouts/boilerplate') %>

<h1>Add an Airport</h1>
<form action="/airports" method="POST">
    <div>
        <label for="name">Airport Name</label>
        <input type="text" name="airport[name]" id="name" placeholder="Thun Field">
    </div>
    <div>
        <label for="location">Airport location</label>
        <input type="text" name="airport[location]" id="location" placeholder="Puyallup, WA">
    </div>
    <button>Add Airport</button>
</form>

<p><a href="/airports">Back to all airports</a></p>